<div class="row gtr-uniform">
  <div class="col-4 col-4-mobile">
    <%= link_to "Annulla", user_path(current_user.id), class: "button icon solid fa-chevron-left" %>
  </div>
  <div class="col-8 col-8-mobile">
    <h2>Modifica il tuo profilo</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class: "row gtr-uniform"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="col-12 col-12-mobile">
      <%= f.label :email, "La tua mail:" %>
      <%= f.email_field :email, autocomplete: "email", placeholder: "email", required: true %>
    </div>

    <div class="col-12 col-12-mobile">
      <%= f.label :username, "Il tuo username (verrai chiamato con questo in tutta l'applicazione):" %>
      <%= f.text_field :username, autofocus: true, autocomplete: false, placeholder: "username", required: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="col-12 col-12-mobile">
      <%= f.label :password, "Password" %> <i>(scrivi in questo campo <b>SOLO</b> se la vuoi cambiare):</i>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "nuova password" %>
      <% if @minimum_password_length %>
        <em>La password deve essere minimo di <%= @minimum_password_length %> caratteri</em>
      <% end %>
    </div>

    <div class="col-12 col-12-mobile">
      <%= f.label :password_confirmation, "Ripeti la password (solo se la stai cambiando):" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "ripeti la nuova password" %>
    </div>

    <div class="col-12 col-12-mobile">
      <%= f.label :current_password %> <i>(serve la tua password corrente per salvare le modifiche)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "la tua password attuale" %>
    </div>

    <div class="col-12 col-12-mobile">
      <%= f.submit "Salva" %>
    </div>
  <% end %>
  <div class="col-12 col-12-mobile"><hr></div>
  <div class="col-12 col-12-mobile">
    <h3>Elimina il mio account (attenzione questa azione è <b>IRREVERSIBILE</b>)</h3>
  </div>

  <div class="col-12 col-12-mobile">
    <p><%= button_to "Elimina il mio account", registration_path(resource_name), data: { confirm: "Sei sicuro?" }, method: :delete, class: "special" %></p>
  </div>

</div>
