<!--Pagina profilo utente-->
<div class="row gtr-uniform">
  <div class="col-3 col-4-mobile">
    <%= link_to 'Back', root_path, class:'button icon solid fa-chevron-left' %>
  </div>
  <div class="col-9 col-8-mobile">
    <h2>Profilo dell'utente <%= @user.username %></h2>
  </div>
  <h4 class="col-6 col-12-mobile">
    <strong>Username:</strong> <%= @user.username %>
  </h4>
  <!-- Dati che visualizzo solo se sono il proprietario del profilo -->
  <%if current_user.id == @user.id %>
    <h4 class="col-6 col-12-mobile">
      <strong>Email:</strong> <%= @user.email %>
    </h4>
    <h4 class="col-12 col-12-mobile">
      <% unless @user.remember_created_at.nil? %>
        <strong>Remember creato il:</strong> <%= @user.remember_created_at.strftime("%d-%m-%Y alle %H:%M:%S") %> <strong>valido fino al:</strong> <%= (@user.remember_created_at + 3.weeks).strftime("%d-%m-%Y alle %H:%M:%S") %>
      <%end %>
    </h4>
  <%end %>
</div>
<hr class="col-12 col-12-mobilep">
<!-- Visualizzazione profilo di un altro utente -->
<%if @user.id == current_user.id %>
  <div class="col-12 col-12-mobile">
    <%= link_to 'Modifica il tuo profilo', edit_user_registration_path , class:'button'%>
  </div>
<%end %>


