    <div class="col-6 col-12-mobile">
      <h4>Orario Accensione Fascia 1</h4>
      <%= time_field_tag "orari_on_off["+i+"][timeonuno]", required: true  %>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Spegnimento Fascia 1</h4>
      <%= time_field_tag "orari_on_off["+i+"][timeoffuno]", required: true %>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Accensione Fascia 2</h4>
      <%= time_field_tag "orari_on_off["+i+"][timeondue]" %>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Spegnimento Fascia 2</h4>
      <%= time_field_tag "orari_on_off["+i+"][timeoffdue]" %>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Accensione Fascia 3</h4>
      <%= time_field_tag "orari_on_off["+i+"][timeontre]" %>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Spegnimento Fascia 3</h4>
      <%= time_field_tag "orari_on_off["+i+"][timeofftre]" %>
    </div>
    <div class="col-12 col-12-mobile">
      <hr>
    </div>
