<%= form_for @orario, url: room_orari_on_offs_path, method: "post", html: {class: "row gtr-uniform"} do |form| %>
  <%unless @orario.nil?
      if @orario.errors.any? %>
      <div id="error_explanation" class="col-12 col-12-mobilep">
        <h2><%= pluralize(@orario.errors.count, "error") %> Errore nel salvataggio della stanza:</h2>
        <ul>
          <% @orario.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end
       end%>

  <div class="col-12 col-12-mobile">
    <h3><b>Orari di accensione/spegnimento</b></h3>
    <h3>Ricorda che l'orario di spegnimento deve essere successivo a quello di accensione
      <br>Ricorda inoltre che l'orario di spegnimento della fascia 1 deve essere antecedente a quello di accensione della fascia 2 e cos&igrave; via, altrimenti verrano scartati i dati non corretti</h3>
    <h4><i>Solo la prima fascia &egrave; obbligatoria, le altre, se lasciate vuote, verranno ignorate. Ricorda: se lasci vuota la fascia 2, la fascia 3 non verr&agrave; letta.</i></h4>
  </div>
  <% 7.times do |i| %>
    <div class="<%if i!=0 %>col-6 col-6-mobile<% else %>col-12 col-12-mobile<% end %>">
      <%if i!=6%>
        <h3>Fascie del <%= @days[i]%></h3>
      <%else%>
        <h3>Fascie della <%= @days[i]%></h3>
      <%end%>
    </div>
    <%if i!=0 %>
      <div class="col-6 col-6-mobile">
        <a class="button" id="copia" onclick="copia(<%=i%>)">Copia dal luned&igrave;</a>
      </div>
    <%end%>
    <%= render 'form_inside', i: i.to_s %>
  <% end %>

  <div class="col-12 col-12-mobile"><br></div>

  <div class="col-12 col-12-mobile">
    <%= form.submit "Inserisci gli orari" %>
  </div>
<% end %>

  <script type="application/javascript">
      function copia(sectionID) {
          $("#orari_on_off_"+sectionID+"_timeonuno").val($("#orari_on_off_0_timeonuno").val())
          $("#orari_on_off_"+sectionID+"_timeoffuno").val($("#orari_on_off_0_timeoffuno").val())
          $("#orari_on_off_"+sectionID+"_timeondur").val($("#orari_on_off_0_timeondue").val())
          $("#orari_on_off_"+sectionID+"_timeoffdue").val($("#orari_on_off_0_timeoffdue").val())
          $("#orari_on_off_"+sectionID+"_timeontre").val($("#orari_on_off_0_timeontre").val())
          $("#orari_on_off_"+sectionID+"_timeofftre").val($("#orari_on_off_0_timeofftre").val())
      }
  </script>