<div class="row gtr-uniform">
  <div class="col-2 col-4-mobile ">
    <%= link_to 'Back', room_path(params[:room_id]), class: "button icon solid fa-chevron-left"%>
  </div>
  <div class="col-5 col-8-mobile">
    <h2>Orari della stanza</h2>
  </div>
  <div class="col-5 col-12-mobilep">
    <%= link_to "Aggiungi gli orari per la stanza", new_room_orari_on_off_path, {class: 'button'} %>
  </div>

  <% if @orari.present? %>
    <div class="col-12 col-12-mobile">
      <hr>
    </div>
    <% @orari.each do |orario| %>
      <div class="col-4 col-4-mobile">
        Giorno: <h3><%= orario.giorno %></h3>
      </div>
      <div class="col-4 col-4-mobile">
        Fascia: <h3><%= orario.fascia %></h3>
      </div>
      <div class="col-2 col-2-mobile">
        <%= link_to '', edit_room_orari_on_off(orario) , class: 'far fa-edit fa-3x', title: 'Modifica questa stanza'%>
      </div>
      <div class="col-12 col-12-mobile"><hr></div>
    <% end %>

  <%else %>
    <div class="col-12 col-12-mobile">
      <h3>Non c'&egrave; ancora alcun orario, inizia creandoli</h3>
    </div>
  <% end %>
</div>