<div class="row gtr-uniform">
  <div class="col-2 col-4-mobile ">
    <%= link_to 'Back', room_path(params[:room_id]), class: "button icon solid fa-chevron-left"%>
  </div>
  <div class="col-5 col-8-mobile">
    <h2>Orari della stanza</h2>
  </div>

  <% if @orari.present? %>
    <h2>bottone modifiche orari</h2>
    <%previous = nil %>
    <% @orari.each do |orario| %>
      <%if orario.giorno != previous %>
        <div class="col-12 col-12-mobile"><hr></div>
        <div class="col-12 col-12-mobile">
          <h3><b><%= @days[orario.giorno] %></b></h3>
        </div>
      <% previous = orario.giorno
        end %>
      <div class="col-1 col-3-mobile">
        <h4><b>Fascia<%= orario.fascia + 1 %></b></h4>
      </div>
      <div class="col-3 col-9-mobile">
        <h4><b>On:</b> <%=orario.orario_accensione.strftime("%H:%M")%> - <b>Off:</b> <%=orario.orario_spegnimento.strftime("%H:%M")%></h4>
      </div>
    <% end %>

  <%else %>
    <div class="col-5 col-12-mobilep">
      <%= link_to "Aggiungi gli orari per la stanza", new_room_orari_on_off_path, {class: 'button'} %>
    </div>
    <div class="col-12 col-12-mobile">
      <h3>Non c'&egrave; ancora alcun orario, inizia creandoli</h3>
    </div>
  <% end %>
</div>