<%= form_for @room, url: rooms_path, method: "post", html: {class: "row gtr-uniform"} do |form| %>
  <%unless @room.nil?
      if @room.errors.any? %>
      <div id="error_explanation" class="col-12 col-12-mobilep">
        <h2><%= pluralize(@room.errors.count, "error") %> Errore nel salvataggio della stanza:</h2>
        <ul>
          <% @room.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end
       end%>



  <div class="col-6 col-12-mobile">
    <%= form.label :nome, "Nome della stanza"%>
    <%= form.text_field :nome, placeholder: "Nome della stanza", required: true %>
  </div>
  <div class="col-12 col-12-mobile">
    <h3><b>Temperature</b></h3>
  </div>
  <div class="col-9 col-12-mobile">
    <h4>Temperatura Massima (Se la temperatura della stanza supera questo valore il riscaldamento della stessa si bloccher&agrave;) - Deve essere minore di 99&deg;C</h4>
  </div>
  <div class="col-3 col-12-mobile">
    <input type="number" id="tempMax" placeholder="Massima Temperatura" min="0" max="99" step="0.1" required/>
  </div>
  <div class="col-12 col-12-mobile">
    <hr>
  </div>
  <div class="col-9 col-12-mobile">
    <h4>Temperatura Minima (Nei momenti in cui il riscaldamento &egrave; in modalit&agrave; programma, se la temperatura scender&agrave; sotto questo valore, verr&agrave; attivato il riscaldamento per riportarla a tale valore)  - Deve essere minore della temperatura massima, minore di 99&deg;C e maggiore di 10&deg;C</h4>
  </div>
  <div class="col-3 col-12-mobile">
    <input type="number" id="tempMin" placeholder="Minima Temperatura" min="0" max="99" step="0.1" required/>
  </div>
  <div class="col-12 col-12-mobile">
    <hr>
  </div>
  <div class="col-9 col-12-mobile">
    <h4>Temperatura Minima Assoluta (Temperatura sotto la quale il sistema &egrave; sempre attivo e riscalda anche se &egrave; impostato su spento. Questo avviene per evitare temperature troppo basse che potrebbero danneggiare le tubature.) - Deve essere minore di 10&deg;C e maggiore di 0&deg;C</h4>
  </div>
  <div class="col-3 col-12-mobile">
    <input type="number" id="tempMinAbs" placeholder="Minima Temperatura Assoluta" min="0" max="99" step="0.1" required/>
  </div>
  <div class="col-12 col-12-mobile">
    <hr>
  </div>
  <div class="col-3 col-12-mobile">
    <input type="button" onclick="isminimum()" value="Conferma Temperature"/>
    <b><div id="confermaTemp"></div></b>
  </div>
  <div class="col-3 col-12-mobile">
    Temperatura Massima: <span id="tempMaxConfirm"></span>

    <%= form.hidden_field :max_temp%>
  </div>
  <div class="col-3 col-12-mobile">
    Temperatura Minima: <span id="tempMinConfirm"></span>

    <%= form.hidden_field :min_temp%>
  </div>
  <div class="col-3 col-12-mobile">
    Temperatura Minima assoluta: <span id="tempMinAbsConfirm"></span>

    <%= form.hidden_field :absolute_min%>
  </div>
  <div class="col-12 col-12-mobile">
    <hr>
  </div>
  <div class="col-12 col-12-mobile">
    <h3><b>Orari di accensione/spegnimento</b></h3>
    <h3>Ricorda che l'orario di spegnimento deve essere successivo a quello di accensione
      <br>Ricorda inoltre che l'orario di spegnimento della fascia 1 deve essere antecedente a quello di accensione della fascia 2 e cos&igrave; via, altrimenti verrano scartati i dati non corretti</h3>
    <h4><i>Solo la prima fascia &egrave; obbligatoria, le altre, se lasciate vuote, verranno ignorate. Ricorda: se lasci vuota la fascia 2, la fascia 3 non verr&agrave; letta.</i></h4>
  </div>

  <% 0.upto(6) do |i|%>
    <div class="<%if i!=0 %>col-6 col-6-mobile<% else %>col-12 col-12-mobile<% end %>">
      <%if i!=6%>
        <h3>Fascie del <%= @days[i]%></h3>
      <%else%>
        <h3>Fascie della <%= @days[i]%></h3>
      <%end%>
    </div>
    <%if i!=0 %>
      <div class="col-6 col-6-mobile">
        <a class="button" id="copia" onclick="copia(<%=i%>)">Copia dal luned&igrave;</a>
      </div>
    <%end%>
    <div class="col-6 col-12-mobile">
      <h4>Orario Accensione Fascia 1</h4>
      <input type="time" name="timeonuno<%=i%>" id="timeOnUno<%=i%>" min="00:00" max="23:59" required value="00:00"/>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Spegnimento Fascia 1</h4>
      <input type="time" name="timeoffuno<%=i%>" id="timeOffUno<%=i%>" min="00:00" max="23:59" required value="00:00"/>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Accensione Fascia 2</h4>
      <input type="time" name="timeondue<%=i%>" id="timeOnDue<%=i%>" min="00:00" max="23:59"/>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Spegnimento Fascia 2</h4>
      <input type="time" name="timeoffdue<%=i%>" id="timeOffDue<%=i%>" min="00:00" max="23:59"/>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Accensione Fascia 3</h4>
      <input type="time" name="timeontre<%=i%>" id="timeOnTre<%=i%>" min="00:00" max="23:59"/>
    </div>
    <div class="col-6 col-12-mobile">
      <h4>Orario Spegnimento Fascia 3</h4>
      <input type="time" name="timeofftre<%=i%>" id="timeOffTre<%=i%>" min="00:00" max="23:59"/>
    </div>
    <div class="col-12 col-12-mobile">
      <hr>
    </div>
  <% end %>

  <div class="col-12 col-12-mobile"><br></div>

  <div class="col-12 col-12-mobile">
    <%= form.submit "Conferma le temperature", id: "inviadati", disabled: true %>
  </div>
<% end %>

  <script type="application/javascript">
      function isminimum() {
          let max = parseFloat($("#tempMax").val());
          let min = parseFloat($("#tempMin").val());
          let absmin = parseFloat($("#tempMinAbs").val());
          let $inviadati = $("#inviadati");
          if (!(isNaN(min) && isNaN(absmin) && isNaN(max))) {
              if(max > 99 || max <= 10 || min > 99 || min <= 10 || absmin <0 || absmin > 10 || max <= min) {
                  /*confermaTemp*/
                  $("#confermaTemp").text("Errore, controlla che i dati rispettino le regole di inserimento");
                  $inviadati.prop('disabled', true);
                  $inviadati.val("Errore nelle temperature");
              }else{
                  $("#confermaTemp").text("Confermate");
                  $("#room_max_temp").val(max);
                  $("#room_min_temp").val(min);
                  $("#room_absolute_min").val(absmin);
                  $("#tempMaxConfirm").text(max+"\xB0C");
                  $("#tempMinConfirm").text(min+"\xB0C");
                  $("#tempMinAbsConfirm").text(absmin+"\xB0C");
                  $inviadati.prop('disabled', false);
                  $inviadati.val("Crea la stanza");
              }
          }else{
              $("#confermaTemp").text("Completa tutti i campi prima di premere questo bottone");
          }
      }
      function copia(sectionID) {
          $("#timeOnUno"+sectionID).val($("#timeOnUno0").val())
          $("#timeOffUno"+sectionID).val($("#timeOffUno0").val())
          $("#timeOnDue"+sectionID).val($("#timeOnDue0").val())
          $("#timeOffDue"+sectionID).val($("#timeOffDue0").val())
          $("#timeOnTre"+sectionID).val($("#timeOnTre0").val())
          $("#timeOffTre"+sectionID).val($("#timeOffTre0").val())
      }
  </script>