<div class="row gtr-uniform">
  <div class="col-2 col-4-mobile ">
    <%= link_to 'Back', rooms_path, class: "button icon solid fa-chevron-left"%>
  </div>
  <div class="col-6 col-8-mobile">
    <h2>Dettagli della stanza: <%= @room.nome %></h2>
  </div>
  <div class="col-4 col-12-mobile">
    <h4>Vedi gli orari di accensione e spegnimento del sistema associati alla stanza</h4>
    <%= link_to "Orari della stanza", room_orari_on_offs_path(@room), {class: 'button fit'} %>
  </div>
  <hr class="col-12 col-12-mobile">


  <div class="col-12 col-12-mobile">
    <h4><strong>Nome della stanza:</strong> <%= @room.nome %></h4>
  </div>
  <%if @room.sensor_id.nil? %>
    <div class="col-8 col-12-mobile">
      <h4>Ancora non &egrave; stato associato nessun sensore a questa stanza, clicca sul bottone per associarne uno</h4>
      <h5>Senza sensore associato la stanza non pu&ograve; registrare le temperature e quindi il sistema di controllo non funzioner&agrave;</h5>
    </div>
    <div class="col-4 col-12-mobile">
      <%= link_to "Associa il sensore", edit_room_path(@room), {class: 'button'} %>
    </div>
  <%else %>
    <div class="col-12 col-12-mobile">
      <h4><strong>Sensore associato:</strong> <%= @room.sensor_nome %> - <%= @room.sensor_id %></h4>
    </div>
  <% end%>
  <div class="col-12 col-12-mobile">
    <h4 onclick="$('#hint1').show(500,'swing')"><strong>Temperatura massima della stanza:</strong><i class="smallText pointer">(clicca per ulteriori dettagli)</i> <%= @room.max_temp %> &deg;C</h4>
  </div>
  <div class="col-12 col-12-mobile" id="hint1" hidden>
    <h5 onclick="$('#hint1').hide(1000,'swing')">Temperatura Massima (Se la temperatura della stanza supera questo valore il riscaldamento della stessa si bloccher&agrave;)<b class="pointer"> CHIUDI [X]</b></h5>
  </div>
  <div class="col-12 col-12-mobile">
    <h4 onclick="$('#hint2').show(500,'swing')"><strong>Temperatura minima della stanza:</strong><i class="smallText pointer">(clicca per ulteriori dettagli)</i> <%= @room.min_temp %> &deg;C</h4>
  </div>
  <div class="col-12 col-12-mobile" id="hint2" hidden>
    <h5 onclick="$('#hint2').hide(1000,'swing')">Temperatura Minima (Nei momenti in cui il riscaldamento &egrave; in modalit&agrave; programma, se la temperatura scender&agrave; sotto questo valore, verr&agrave; attivato il riscaldamento per riportarla a tale valore)<b class="pointer"> CHIUDI [X]</b></h5>
  </div>
  <div class="col-12 col-12-mobile">
    <h4 onclick="$('#hint3').show(500,'swing')"><strong>Temperatura minima assoluta della stanza:</strong><i class="smallText pointer">(clicca per ulteriori dettagli)</i> <%= @room.absolute_min %> &deg;C</h4>
  </div>
  <div class="col-12 col-12-mobile" id="hint3" hidden>
    <h5 onclick="$('#hint3').hide(1000,'swing')">Temperatura Minima Assoluta (Temperatura sotto la quale il sistema &egrave; sempre attivo e riscalda anche se &egrave; impostato su spento. Questo avviene per evitare temperature troppo basse che potrebbero danneggiare le tubature.)<b class="pointer"> CHIUDI [X]</b></h5>
  </div>
  <div class="col-12 col-12-mobile">
    <h2><b>Stato attuale del sistema relativo alla stanza</b></h2>
  </div>
  <%if @room.manual_active%>
    <div class="col-12 col-12-mobile">
      <h4>Attualmente nella stanza &egrave; attivo il controllo manuale per mantenere la temperatura massima impostata</h4>
    </div>
    <div class="col-12 col-12-mobile">
      <%=link_to "Ritorna al controllo automatico", room_manual_active_path(@room), method: :put, class: 'button' %>
    </div>
  <%elsif @room.manual_inactive%>
    <div class="col-12 col-12-mobile">
      <h4>Attualmente nella stanza &egrave; attivo il controllo manuale per mantenere la temperatura minima impostata</h4>
    </div>
    <div class="col-12 col-12-mobile">
      <%=link_to "Ritorna al controllo automatico", room_manual_inactive_path(@room), method: :put, class: 'button' %>
    </div>
  <%elsif @room.manual_off %>
    <div class="col-12 col-12-mobile">
      <h4>Attualmente il controllo nella stanza &egrave; inattivo ed &egrave; impostata per mantenere la temperatura minima assoluta</h4>
    </div>
    <div class="col-12 col-12-mobile">
      <%=link_to "Ritorna al controllo automatico", room_manual_off_path(@room), method: :put, class: 'button' %>
    </div>
  <%else %>
    <div class="col-12 col-12-mobile">
      <h4>Attualmente la stanza &egrave; controllata automaticamente dal sistema secondo gli orari impostati</h4>
    </div>
    <div class="col-12 col-12-mobile"><hr></div>
    <div class="col-8 col-12-narrower">
      <h4>Clicca sul bottone e attiva controllo manuale per mantenere la temperatura massima impostata</h4>
    </div>
    <div class="col-4 col-12-narrower">
      <%=link_to "Attiva manuale massimo", room_manual_active_path(@room), method: :put, class: 'button' %>
    </div>
    <div class="col-8 col-12-narrower">
      <h4>Clicca sul bottone e attiva controllo manuale per mantenere la temperatura massima impostata</h4>
    </div>
    <div class="col-4 col-12-narrower">
      <%=link_to "Attiva manuale minimo", room_manual_inactive_path(@room), method: :put, class: 'button' %>
    </div>
    <div class="col-8 col-12-narrower">
      <h4>Clicca sul bottone e disattiva il controllo automatico sulla stanza, verr&agrave; mantenuta la temperatura minima assoluta</h4>
    </div>
    <div class="col-4 col-12-narrower">
      <%=link_to "Spegni il sistema di controllo", room_manual_off_path(@room), method: :put, class: 'button' %>
    </div>
  <%end %>

</div>


