<!--Pagina profilo utente-->
<div class="row gtr-uniform">
  <div class="col-2 col-4-mobile ">
    <%= link_to 'Back', rooms_path, class: "button icon solid fa-chevron-left"%>
  </div>
  <div class="col-9 col-8-mobile">
    <h2>Dettagli della stanza: <%= @room.nome %></h2>
  </div>

  <h4 class="col-12 col-12-narrower">
    <strong>Nome della stanza:</strong> <%= @room.nome %>
  </h4>
  <h4 class="col-12 col-12-narrower">
    <strong>Temperatura massima della stanza:</strong><%= @room.max_temp %>
  </h4>
  <h4 class="col-12 col-12-narrower">
    <strong>Temperatura minima della stanza:</strong><%= @room.min_temp %>
  </h4>
  <h4 class="col-12 col-12-narrower">
    <strong>Temperatura minima assoluta della stanza:</strong><%= @room.absolute_min %>
  </h4>
  <hr class="col-12 col-12-mobilep">
  <h4 class="col-12 col-12-narrower">
    <%= link_to "Vedi gli orari di accensione e spegnimento del sistema associati alla stanza", room_orari_on_offs_path(@room), {class: 'button'} %>
  </h4>
  <%if @room.sensor_id.nil? %>
    <h4 class="col-12 col-12-narrower">
      Ancora non è stato associato nessun sensore a questa stanza, clicca sul bottone per associarne uno
    </h4>
  <%else %>
    <h4 class="col-12 col-12-narrower">
      Sensore associato questa stanza: ... TO DO !!!!!!
    </h4>
  <% end%>

</div>


