<!DOCTYPE html>
<html lang="it">
<head>
  <title>Thermo Pi</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag 'css/main.css' %>

  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'intercooler-1.2.3.min.js' %>
</head>

<body class="landing">
<div id="page-wrapper">
  <header id="header" class="alt">
    <%= link_to main_app.root_path do%>
      <h1><%= image_tag("logo.png", width: "185px") %></h1>
    <% end %>
    <nav id="nav">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'Home', main_app.root_path %></li>
          <li>
            <% if user_signed_in? && current_user.username.nil?%>
              <a href="#" class="icon solid fa-angle-down">Benvenuto <%=current_user.email%>!</a>
            <%else %>
              <a href="#" class="icon solid fa-angle-down">Benvenuto <%=current_user.username %></a>
            <%end %>
            <ul>
              <% if user_signed_in? && current_user.username.nil?%>
                <li><%= link_to 'Completa il tuo profilo', edit_user_registration_path%></li>
              <%else %>
                <li><%= link_to 'Il tuo profilo', user_path(current_user.id)%></li>
                <li><%= link_to "I tuoi sensori", sensors_path %></li>
                <li><%= link_to "Le tue temperature", temps_path %></li>
                <li><%= link_to "Le tue stanze", rooms_path %></li>
              <%end %>
              <li><%= link_to 'Esci', '/user/sign_out'%></li>
            </ul>
          </li>
        <%else%>
          <li><%= link_to 'Registrati/Accedi', main_app.new_user_session_url, {class: 'button'}%></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>

<%= javascript_include_tag 'jquery.dropotron.min.js' %>
<%= javascript_include_tag 'jquery.scrollex.min.js' %>
<%= javascript_include_tag 'browser.min.js' %>
<%= javascript_include_tag 'breakpoints.min.js' %>
<%= javascript_include_tag 'util.js' %>
<%= javascript_include_tag 'main.js' %>

</body>
</html>
